{% extends 'base/base.html' %}
{% block content %}
    <section class="panel justify-flex-start">
        <h3>Wszystkie wnioski</h3>
        <table>

            <tr class="head">
                <th>Pracownik</th>
                <th>Typ urlopu</th>
                <th>Data początku</th>
                <th>Data zakończenia</th>
                <th>Ilość dni</th>
                <th>Aktualny status</th>
            </tr>
            {% for registration in free_days_registrations %}
                <tr>
                    <th>{{ registration.employee }}</th>
                    <th>{{ registration.free_day_type }}</th>
                    <th>{{ registration.start_date }}</th>
                    <th>{{ registration.end_date }}</th>
                    <th>{{ registration.num_of_days }}</th>
                    <th class="status
                        {% if registration.status == 2 %}
                            accepted
                        {% elif registration.status == 3 %}
                            rejected
                        {% endif %}
                        ">{{ registration.status_name }}</th>
                </tr>
            {% endfor %}
        </table>
    </section>
{% endblock %}