{% extends 'base/base.html' %}
{% block content %}
    <div class="card w-100 mt-4 p-4 text-center mx-auto">
        <h3 class="card-title">Wszystkie wnioski</h3>
        <div class="table-responsive-md">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">Typ urlopu</th>
                    <th scope="col">Data od</th>
                    <th scope="col">Data do</th>
                    <th scope="col">Ilość dni roboczych</th>
                    <th scope="col">Aktualny status</th>
                </tr>
                </thead>
                <tbody>
                {% for item in objects %}
                    <tr>
                        <td>{{ item.free_day_type }}</td>
                        <td>{{ item.start_date }}</td>
                        <td>{{ item.end_date }}</td>
                        <td>{{ item.business_days }}</td>
                        <td>
                            <span class="p-2 badge
                                {% if item.status == 1 %}
                                    badge-secondary
                                {% elif item.status == 2 %}
                                    badge-success
                                {% elif item.status == 3 %}
                                    badge-danger
                                {% endif %}
                            ">{{ item.status_name }}
                            </span>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <nav aria-label="Paginacja wniosków">
                <ul class="pagination justify-content-center">
                    {% if objects.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ objects.previous_page_number }}"
                               tabindex="-1">Poprzednia</a>
                            {% else %}
                        <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1">Poprzednia</a>
                    {% endif %}

                    </li>

                    {% for num in objects.paginator.page_range %}
                        <li class="page-item
                            {% if num == objects.number %}
                                disabled
                            {% endif %}">
                            <a class="page-link" href="?page={{ num }}">
                                {{ num }}
                            </a>
                        </li>
                    {% endfor %}

                    {% if objects.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ objects.next_page_number }}"
                            >Następna</a>
                            {% else %}
                        <li class="page-item disabled">
                        <a class="page-link" href="#">Następna</a>
                    {% endif %}
                    </li>
                </ul>
            </nav>
        </div>
    </div>
{% endblock %}