{% extends 'base.html' %}
{% block content %}

    <section class="panel">
        <h3>Dodaj krótką przerwę:</h3>
        <form method="POST" class="panel__form" style="width: 100%">
            {% csrf_token %}
            <button type="submit" name='five-minutes' class="primary-button panel__input-time">5 min.</button>
            <button type="submit" name='ten-minutes' class="primary-button panel__input-time">10 min.</button>
            <button type="submit" name='fifteen-minutes' class="primary-button panel__input-time">15 min.</button>
        </form>
    </section>
{% endblock %}