{% extends 'base.html' %}
{% block content %}
    <section class="panel space-between">
        <h1 class="panel__clock">{% now "H:i" %}</h1>
        <h4 class="grey">{% now "d.m.Y" %}</h4>

        <form method="POST" style="width: 100%;">
            {% csrf_token %}
            <div class="panel__form">
                <h3>Korekta</h3>

                <div class="panel__input-time">
                    <label for="arrival"><h4>Przyjście:</h4></label>
                    <input
                            type="time"
                            id="arrival"
                            name="arrival"
                            value="{{ time_registration.arrival }}"
                    />
                </div>
                <div class="panel__input-time">
                    <label for="leaving"><h4>Wyjście:</h4></label>
                    <input
                            type="time"
                            id="leaving"
                            name="leaving"
                            value="{{ time_registration.leaving }}"
                    />
                </div>
                <button
                        type="submit"
                        class="panel__button primary-button cancel-button"
                        name="delete"
                >
                    <span>Usuń rejestrację</span>
                </button>
            </div>

            <div class="panel__decision-buttons">
                <button class="panel__button primary-button ok-button" type="submit" name="save">
                    <i class="fas fa-check-circle"></i>
                    <span>Zapisz</span>
                </button>
                <a class="panel__button primary-button cancel-button" href="{% url 'home' %}" name="cancel">
                    <i class="fas fa-times-circle"></i>
                    <span>Anuluj</span>
                </a>
            </div>
        </form>
    </section>

{% endblock %}