<nav class="menubar">
    <span class="menubar__logo">Czas pracy</span>
    <ul class="menubar__menu">
        <li class="menubar__menu__item">
            <a href="#"><i class="fas fa-plus-circle"></i>Nowy wniosek</a>
        </li>
        <li class="menubar__menu__item">
            <a href="#"><i class="fas fa-clipboard-check"></i>Moje wnioski</a>
        </li>
        <li class="menubar__menu__item">
            <a href="#"><i class="fas fa-align-left"></i>Raport sald</a>
        </li>
        <li class="menubar__menu__item">
            <a href="#"><i class="fas fa-ellipsis-h"></i>Więcej</a>
        </li>
    </ul>
    <div class="menubar__burger">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
    </div>
</nav>