{% extends 'base.html' %}
{% block content %}

    <section class="panel space-between ">
        {{ form.errors }}
        {% for message in messages %}
            <p style="color: red">{{ message }}</p>
        {% endfor %}
        <h3>Nowy wniosek</h3>
        <form method="POST">
        {% csrf_token %}
            <div class="panel__form panel__form--correction">
                <div class="panel__form-section">
                    <div class="panel__column">
                        <label for="proposal"><h4>Typ wniosku:</h4></label>
                        <select name="proposal" id="proposal" class="proposal-select">
                            {% for days_type in free_days_types %}
                                <option value="{{ days_type.id }}">{{ days_type }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="panel__form-section">
                    <div class="panel__column">
                        <div>
                            <label for="start-absense"><h4>Data od:</h4></label>
                            <input type="date" name="start-absense" id="start-absense"/>
                        </div>
                        <div>
                            <label for="end-absense"><h4>Data do:</h4></label>
                            <input type="date" name="end-absense" id="end-absense"/>
                        </div>
                    </div>

                    <div class="panel__column-2">
                        <div class="panel__summary grey">
                            <h3>w sumie:</h3>
                            <h2>- dni</h2>
                        </div>
                        <div class="panel__summary grey">
                            <h3>pozostały urlop:</h3>
                            <h2>- dni</h2>
                        </div>
                    </div>
                </div>

                <div class="panel__form-section">
                    <div class="panel__column">
                        <label for="more-info"
                        ><h4>Informacje dla przełożonego:</h4></label
                        >
                        <textarea
                                class="panel__more-info"
                                name="more-info"
                                id="more-info"
                                rows="10"
                        ></textarea>
                    </div>
                </div>
            </div>

            <div class="panel__decision-buttons">
                <button class="panel__button primary-button ok-button" type="submit" name="send">
                    <i class="fas fa-check-circle"></i>
                    <span>Wyślij wniosek</span>
                </button>
                <button class="panel__button primary-button cancel-button" href="{% url 'home' %}" name="cancel">
                    <i class="fas fa-times-circle"></i>
                    <span>Anuluj</span>
                </button>
            </div>
        </form>
    </section>

{% endblock %}