<div class="container-sm time-registration-container">
    <table class="table table-hover text-left">
        <tbody>
            <tr>
                <td>Przyjście:</td>
                <td>{{ time_registration.arrival }}</td>
            </tr>

            <tr>
                <td>Przerwy:</td>
                <td>{% if time_registration.brakes > 0 %}{{ time_registration.brakes }} min.{% else %}--{% endif %}</td>
            </tr>
            <tr>
                <td>Planowane wyjście</td>
                <td>{{ time_registration.plan_leaving }}</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="container-sm time-registration-container">

    {% if not time_registration.leaving %}
        <button
                data-toggle="modal"
                data-target="#brakeModal"
                class="btn btn-outline-primary btn-lg btn-block"
        >
            Dodaj przerwę
        </button>
        <button
                data-toggle="modal"
                data-target="#time_register_gohome_modal"
                class="btn btn-outline-primary btn-lg btn-block"
        >
            Wyjście
        </button>
    {% endif %}
</div>