<div class="panel__hours-container">
    <div class="panel__hours-container__item">
        <h4>Przyjście:</h4>
        <h4>{{ time_registration.arrival }}</h4>
    </div>
    <div class="panel__hours-container__item">

        {% if not time_registration.leaving %}
            <h4>Planowane wyjście:</h4>
            <h4 class="grey">{{ time_registration.plan_leaving }}
                {% if time_registration.brakes > 0 %}
                    (w tym przerwy: {{ time_registration.brakes }} min.)
                {% endif %}
            </h4>
        {% else %}
            <h4>Wyjście:</h4>
            <h4>{{ time_registration.leaving }}</h4>
        {% endif %}
    </div>
</div>
{% if not time_registration.leaving %}
    <div class="panel__main-buttons">
        <form method="POST">
            {% csrf_token %}
            <a href="{% url 'add-brake' time_registration.pk %}"
               class="panel__button primary-button"
               type="submit"
               name="add_short_brake"
            >
                <i class="fas fa-business-time"></i>
                <span>Dodaj krótką przerwę</span>
            </a>
            <button
                    class="panel__button primary-button"
                    type="submit"
                    name="go_home"

            >
                <i class="fas fa-sign-out-alt"></i>
                <span>Wyjście z pracy</span>
            </button>
        </form>
    </div>
{% endif %}
<div class="panel__option-buttons">
    <a class="panel__button primary-button" href="{% url 'correction' time_registration.pk %}">
        <i class="fas fa-pencil-alt"></i>
        <span>Korekta</span>
    </a>
</div>