{% extends 'base.html' %}
{% block content %}

    <section class="panel">
        <h1 class="panel__clock">{% now "H:i" %}</h1>
        <h4 class="grey">{% now "d.m.Y" %}</h4>
        {% if time_registration %}
            {% include 'panel_zarejestrowane.html' %}
        {% else %}
            {% include 'panel_niezarejestrowane.html' %}
        {% endif %}
        <div class="panel__option-buttons">
            <button class="panel__button primary-button">
                <i class="fas fa-pencil-alt"></i>
                <span>Korekta</span>
            </button>
        </div>
    </section>
{% endblock %}