<section class="panel space-between">
    <h1 class="panel__clock">08:20</h1>
    <h4 class="grey">14.03.2020</h4>

    <div class="panel__form">
        <h3>Korekta:</h3>

        <div class="panel__input-time">
            <label for="start-work-date"><h4>Przyjście:</h4></label>
            <input
                    type="time"
                    id="start-work-date"
                    name="start-work-date"
                    value="08:00"
                    disabled
            />
        </div>
        <div class="panel__input-time">
            <label for="end-work-date"><h4>Wyjście:</h4></label>
            <input
                    type="time"
                    id="end-work-date"
                    name="end-work-date"
                    value="16:00"
            />
        </div>
    </div>

    <div class="panel__decision-buttons">
        <button class="panel__button primary-button ok-button">
            <i class="fas fa-check-circle"></i>
            <span>Zapisz</span>
        </button>
        <button class="panel__button primary-button cancel-button">
            <i class="fas fa-times-circle"></i>
            <span>Anuluj</span>
        </button>
    </div>
</section>
