<section class="panel">
    <h1 class="panel__clock">08:20</h1>
    <h4 class="grey">14.03.2020</h4>

    <div class="panel__hours-container">
        <div class="panel__hours-container__item">
            <h4>Przyjście:</h4>
            <h4>08:15</h4>
        </div>
        <div class="panel__hours-container__item">
            <h4>Wyjście:</h4>
            <h4 class="grey">(16:15 + 30m)</h4>
        </div>
    </div>
    <div class="panel__main-buttons">
        <button class="panel__button primary-button" disabled>
            <i class="fas fa-briefcase"></i>
            <span>Przyjście do pracy</span>
        </button>
        <button class="panel__button primary-button">
            <i class="fas fa-business-time"></i>
            <span>Dodaj krótką przerwę</span>
        </button>
        <button class="panel__button primary-button">
            <i class="fas fa-sign-out-alt"></i>
            <span>Wyjście z pracy</span>
        </button>
    </div>

    <div class="panel__option-buttons">
        <button class="panel__button primary-button">
            <i class="fas fa-pencil-alt"></i>
            <span>Korekta</span>
        </button>
    </div>
</section>
