<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../static/style.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Lato:400,700,900&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/3a7c72b6fb.js"
      crossorigin="anonymous"
    ></script>
    <title>Czas pracy</title>
  </head>
  <body>
    <div class="container">
      <nav class="menubar">
        <span class="menubar__logo">Czas pracy</span>
        <ul class="menubar__menu">
          <li class="menubar__menu__item">
            <a href="#"><i class="fas fa-plus-circle"></i>Nowy wniosek</a>
          </li>
          <li class="menubar__menu__item">
            <a href="#"><i class="fas fa-clipboard-check"></i>Moje wnioski</a>
          </li>
          <li class="menubar__menu__item">
            <a href="#"><i class="fas fa-align-left"></i>Raport sald</a>
          </li>
          <li class="menubar__menu__item">
            <a href="#"><i class="fas fa-ellipsis-h"></i>Więcej</a>
          </li>
        </ul>
        <div class="menubar__burger">
          <div class="line1"></div>
          <div class="line2"></div>
          <div class="line3"></div>
        </div>
      </nav>
      <section class="panel">
        <h1 class="panel__clock">08:20</h1>
        <h4 class="grey">14.03.2020</h4>
        <h4>Niezarejestrowano przyjścia</h4>
        <div class="panel__main-buttons">
          <button class="panel__button primary-button">
            <i class="fas fa-briefcase"></i>
            <span>Przyjście do pracy</span>
          </button>
          <button class="panel__button primary-button">
            <i class="fas fa-sign-out-alt"></i>
            <span>Wyjście z pracy</span>
          </button>
        </div>

        <div class="panel__option-buttons">
          <button class="panel__button primary-button" disabled>
            <i class="fas fa-pencil-alt"></i>
            <span>Korekta</span>
          </button>
        </div>
      </section>
    </div>
    <script src="../../static/script.js"></script>
  </body>
</html>
